{% extends 'base.html.twig' %}

{% block title %}Page de connexion ! {% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <div class="login">
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="login-img-logo">
                <div class="col-sm-2 my-3 text-dark text-center align-items-center">
                    <header class="pb-0 mb-0"><img src="{{ asset('css/img/logo-sortir-com.png') }}" alt="Retour"></header>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            {# Encadré du formulaire #}
            <div class="col-sm-3">
                <div class="login-conteneur">
                    <div class="p-5">
                        <form method="post">
                            {# formulaire de connexion #}
                            <h1 class="h3 mb-3 pb-3 font-weight-bold">S'identifier</h1>

                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            {# formulaire de connexion - v1 version Adrien #}
                            <label class="col-sm px-0 py-1" for="inputEmail">
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control py-3" placeholder="Saisissez votre email" required autofocus>
                            </label>

                            <label class="col-sm px-0 py-1" for="inputPassword">
                                <input type="password" name="password" id="inputPassword" class="form-control py-3" placeholder="Mot de passe" required>
                            </label>

                            {# formulaire de connexion - v2 avec logintype, les messages d'erreurs ne marche pas #}
                            {# <div class="pb-3">
                                {{ form_start(loginForm) }}
                                <div class="py-3">{{ form_widget(loginForm.email) }}</div>
                                <div class="py-3">{{ form_widget(loginForm.password) }}</div>
                                {{ form_end(loginForm) }}
                            </div> #}

                            {# boutton connexion #}
                            <div class="col-sm px-0 pt-1 pb-3">
                                <button class="login-boutton" type="submit">
                                    Connexion
                                </button>
                            </div>

                            {# faille csrf #}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            {# Se souvenir de moi / mot de passe oublié #}
                            <div class="row m-0 px-0 py-3">
                                <div class="col-sm px-0 checkbox">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                                    </label>
                                </div>
                                <div class="col-sm px-0 text-right">
                                    <a  href="{# {{ url('home_home') }} #}">Mot de passe oublié?</a>
                                </div>
                            </div>

                            {# Inscription contacter admin #}
                            <div class="pb-3">
                                <div class="login-contact">
                                    <b>
                                        Première visite sur Sortir.com ?
                                        Contacter {# app.user.. admin #} {'toto'}. {# déclencher sur le terme 'contacter' action boite mail #}
                                    </b>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
{% endblock %}
