{% extends 'base.html.twig' %}

{% block title %}Page d'accueil !{% endblock %}


{% block body %}
    <div>
        <div class="row mt-5">
            <div class="col-sm-9"></div>
            <div class="col-sm-2">
                <span style="color:blue">Date du jour : {{ "now"|date('d/m/Y') }} </span><br>
                <h4 style="color:#0040ff">HELLO {{ app.user.LastName }} !</h4><br>
            </div>
        </div>

        {# todo #}
        <div class="col-sm-2 mx-3"></div>
        <div class="col-sm-10 mx-3">
            <div class="conteneur">
                <div class="row mb-1">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <h3>Filtrer les sorties</h3>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-1"></div>

                    <div class="col-sm-4">
                        {{ form_start(filterForm) }}
                        <div class="group mb-3">
                            {{ form_row(filterForm.campus) }}
                            {{ form_row(filterForm.keyWord) }}
                            <div class="form-group">
                                <div class="col-sm-6">{{ form_row(filterForm.dateStart) }}</div>
                                <div class="col-sm-6">{{ form_row(filterForm.dateEnd) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4">
                        <div class="my-3 pt-3 align-middle">{{ form_row(filterForm.eventOrganizer) }}</div>
                        <div class="my-3 pt-3 align-middle">{{ form_row(filterForm.eventSuscriber) }}</div>
                        <div class="my-3 pt-3 align-middle">{{ form_row(filterForm.eventNotSuscriber) }}</div>
                        <div class="my-3 pt-3 align-middle">{{ form_row(filterForm.eventOld) }}</div>
                    </div>
                    <div class="col-sm-2">
                        {{ form_row(filterForm.search) }}
                        <button type="button" class="btn btn-primary">
                            <a href="">Rechercher</a>
                        </button>
                    </div>
                    {{ form_end(filterForm) }}
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 shadow p-0 m-0">
            <table class="table table-striped">
                <thead>
                <tr class="text-light bg-dark">
                    <th class="pl-4 text-center align-middle" scope="col">#</th>
                    <th class="pl-4 align-middle" scope="col">Nom de la sortie</th>
                    <th class="align-middle" scope="col">Organisateur</th>
                    <th class="text-center align-middle" scope="col">Date de la sortie</th>
                    <th class="text-center align-middle" scope="col">Clôture</th>
                    <th class="text-center align-middle" scope="col">Inscrits / Places</th>
                    <th class="text-center align-middle" scope="col">Etat</th>
                    <th class="text-center align-middle" scope="col">Inscrits</th>
                    <th class="text-center align-middle" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for event in list %}
                <tr class="table-sm">
                    <td class="align-middle pl-4">{{ event.id }}</td>
                    <td class="align-middle pl-4">{{ event.eventName }}.</td>
                    <td class="align-middle">{{ event.organizer }}</td>
                    <td class="text-center align-middle">{{ event.dateAndHour | date("d-m-Y") }}</td>
                    <td class="text-center align-middle">{{ event.registrationLimit | date("d-m-Y")  }}</td>
                    <td class="text-center align-middle">??/{{ event.numberOfPlaces }}</td>
                    <td class="text-center align-middle">{{ event.status }}</td>
                    <td class="text-center align-middle">??</td>
                    <td class="text-center align-middle"><button type="button" class="btn btn-link">
                            <a href="{{ url('sortie_registration', {'id': event.id}) }}">S'inscrire</a>
                        </button>
                        <button type="button" class="btn btn-link">
                            <a href="{{ url('sortie_afficher', {'id': event.id}) }}">Afficher la sortie</a>
                        </button>
                        <button type="button" class="btn btn-link">
                            <a href="{{ url('sortie_modifier', {'id': event.id}) }}">Modifier la sortie</a>
                        </button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>


    <button type="button" class="btn btn-primary">
        <a href="{{ url('sortie_creation') }}">Créer une sortie</a>
    </button>
    {{ knp_pagination_render(list) }}
{% endblock %}