{% extends 'base.html.twig' %}

{% block title %}Page d'accueil !{% endblock %}


{% block body %}

    <span style="color:red">Participant : {{ app.user.LastName }} !</span><br>
    <span style="color:blue">Date du jour : {{ "now"|date('d/m/Y') }} </span><br>

    <h3>Filtrer les sorties</h3>

    {# permet l'affichage d'un message lorsque l'utilisateur a réussis son inscription !  #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <ul style="list-style: none">
        {% for event in list %}
            <li>
                {{ event.eventName }} =>
                Début : {{ event.dateAndHour | date("d-m-Y") }},
                Limite d'inscription : {{ event.registrationLimit | date("d-m-Y")  }},
                Statut : {{ event.status }},
                Nb de place : {{ event.numberOfPlaces }}
                Organisateur : {{ event.organizer }}
                id : {{ event.id }}

                <button>
                    <a href="{{ url('sortie_registration', {'id': event.id}) }}">S'inscrire</a>
                </button>
                <button>
                    <a href="{{ url('sortie_afficher', {'id': event.id}) }}">Afficher la sortie</a>
                </button>
                <button>
                    <a href="{{ url('sortie_modifier', {'id': event.id}) }}">Modifier la sortie</a>
                </button>


            </li>
        {% endfor %}
    </ul>

    <button> <a href="{{ url('sortie_creation') }}">
        Créer une sortie</a>
    </button>
{% endblock %}