{% extends 'base.html.twig' %}

{% block title %}Page d'accueil !{% endblock %}


{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    <div class="col-12-sm py-5"></div>
    {# Filtre les sorties #}
    <div class="row">
        <div class="col-sm-1 "></div>
        <div class="col-sm-10 mx-0 px-0 py-0">
            {# encadré filtre de sortie #}
            <div class="home-conteneur">
                {# 1er bloc : le titre #}
                <div class="row mb-1">
                    <div class="col-sm-7 mx-5 mt-5 px-5 pt-3">
                        <h3>Filtrer les sorties</h3>
                    </div>
                    <div class="col-sm-3 mx-5 mt-5 px-5 pt-3">
                        <h3>Informations du jour</h3>
                    </div>
                </div>
                {# 2eme bloc : les filtres / données du jour #}
                <div class="row mb-5">
                    {# bloc secondaire de gauche : campus / mot clef / date #}
                    <div class="col-sm-4 ml-5 mt-3 px-5">
                        {{ form_start(filterForm) }}
                        <div class="group mb-3">
                            {{ form_row(filterForm.campus) }}
                            {{ form_row(filterForm.keyWord) }}
                            <div class="row">
                                    {# TEST AFFICHAGE DATE BOOTSTRAP EN DATE
                                    <div class="form-group row">
                                        <label for="example-date-input" class="col-2 col-form-label">{{ form_row(filterForm.dateEnd) }}</label>
                                        <div class="col-10">
                                            <input class="form-control" type="date" value="2021-04-16" id="example-date-input">
                                        </div>
                                    </div> #}
                                <div class="col-sm">{{ form_row(filterForm.dateStart) }}</div>
                                <div class="col-sm">{{ form_row(filterForm.dateEnd) }}</div>
                            </div>
                        </div>
                    </div>

                    {# bloc secondaire centrale : les checkbox + boutton recherche #}
                    <div class="col-sm-4">
                        <div class="mt-0 pt-3 ml-5 align-middle">Autres critères :</div>
                        <div class="mt-0 pt-3 ml-5 pl-3 align-middle">{{ form_row(filterForm.eventOrganizer) }}</div>
                        <div class="my-0 pt-0 ml-5 pl-3 align-middle">{{ form_row(filterForm.eventSuscriber) }}</div>
                        <div class="my-0 pt-0 ml-5 pl-3 align-middle">{{ form_row(filterForm.eventNotSuscriber) }}</div>
                        <div class="my-0 pt-0 ml-5 pl-3 align-middle">{{ form_row(filterForm.eventOld) }}</div>
                        <div class="home-search-boutton">
                            <div class=""
                            {{ form_row(filterForm.search) }}
                        </div>
                            {# <button type="button" class="btn btn-primary">
                                <a href="">Rechercher</a>
                            </button> #}
                    </div>
                    {# bloc secondaire de droite #}
                    <div class="col-sm mt-2">
                        <div class="col-sm">
                            <p class="home-hello">HELLO {{ app.user.LastName }} !</p>
                            <h4>Aujourd'hui, nous somme le : <br>{{ "now"|date('d/m/Y') }} </h4>
                            <br>
                            <h4>La météo : <br> [...] </h4>
                        </div>

                    </div>

                    {{ form_end(filterForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12-sm py-5"></div>

    <div class="home-search-boutton">
        <a href="{{ url('sortie_creation') }}">Créer une sortie</a>

    </div>

    <div class="col-12-sm py-5"></div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 p-0 m-0">
            <table class="table table-striped">
                <thead>
                <tr class="text-light bg-dark">
                    <th class="pl-4 text-center align-middle" scope="col">#</th>
                    <th class="pl-4 align-middle" scope="col">Nom de la sortie</th>
                    <th class="align-middle" scope="col">Organisateur</th>
                    <th class="text-center align-middle" scope="col">Date de la sortie</th>
                    <th class="text-center align-middle" scope="col">Clôture</th>
                    <th class="text-center align-middle" scope="col">Places restantes</th>
                    <th class="text-center align-middle" scope="col">Etat</th>
                    <th class="text-center align-middle" scope="col">Inscrits</th>
                    <th class="text-center align-middle" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for event in list %}
                <tr class="table-sm">
                    <td class="align-middle pl-4">{{ event.id }}</td>
                    <td class="align-middle pl-4">{{ event.eventName }}.</td>
                    <td class="align-middle">{{ event.organizer }}</td>
                    <td class="text-center align-middle">{{ event.dateAndHour | date("d-m-Y") }}</td>
                    <td class="text-center align-middle">{{ event.registrationLimit | date("d-m-Y")  }}</td>
                    <td class="text-center align-middle">{{ event.numberOfPlaces }}</td>
                    <td class="text-center align-middle">{{ event.status }}</td>
                    <td class="text-center align-middle">{{ event.NbRegistration }}</td>
                    <td class="text-center align-middle">
                        <button type="button" class="btn btn-link">
                            <a href="{{ url('sortie_registration', {'id': event.id}) }}">S'inscrire</a>
                        </button>
                        <button type="button" class="btn btn-link">
                            <a href="{{ url('sortie_remove_registration', {'id': event.id}) }}">Se désister</a>
                        </button>
                        <button type="button" class="btn btn-link">
                            <a href="{{ url('sortie_afficher', {'id': event.id}) }}">Afficher la sortie</a>
                        </button>
                        <button type="button" class="btn btn-link">
                            <a href="{{ url('sortie_modifier', {'id': event.id}) }}">Modifier la sortie</a>
                        </button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(list) }}
        </div>
        <div class="col-sm-1"></div>
    </div>



{% endblock %}