{% extends 'base.html.twig' %}

{% block title %}Page d'accueil !{% endblock %}


{% block body %}

    <span style="color:red">Participant : {{ app.user.LastName }} !</span><br>
    <span style="color:blue">Date du jour : {{ "now"|date('d/m/Y') }} </span><br>

    <h3>Filtrer les sorties</h3>

    <ul style="list-style: none">
        {% for event in list %}
            <li>
                {{ event.eventName }} =>
                Début : {{ event.dateAndHour | date("d/m/y") }},
                Limite d'inscription : {{ event.registrationLimit | date("d/m/Y") }},
                Statut : {{ event.status }},
                Nb de place : {{ event.numberOfPlaces }}
            </li>
        {% endfor %}
    </ul>

    <button> <a href="{{ url('sortie_creation') }}">
        Créer une sortie</a>
    </button>
{% endblock %}