<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- CSS -->
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <!-- Favicon -->

        <!-- Scrip JS -->
        <script type="application/javascript" src="{{ asset('js/js.js') }}" defer></script>

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}

        {% endblock %}

    </head>
    <body>
        {% block header %}
            <header class="row justify-content-between align-items-center p-3 px-md-4 mb-3  border-bottom shadow-sm">
                <div class="col-sm-2 text-white text-center align-items-center">
                    <div class="base-img-logo">
                        <a class="pb-0 mb-0" href="{{ url('home_home') }}"><img src="{{ asset('css/img/logo-sortir-com.png') }}" alt="Retour"></a>
                    </div>
                </div>
                <nav class="fa fa-bars my-2 my-md-0 me-md-3">
                    {% if app.user.roles.0.1 == "ROLE_ADMIN" %}
                        <a class="p-3 text-white" href="{{ url('admin_campus') }}">Campus</a>
                        <a class="p-3 text-white" href="{{ url('admin_ville') }}">Villes</a>
                    {% else %}
                        {# n'affiche pas "Campus" et "City" si USER #}
                    {% endif %}

                    <a class="p-3 text-white" href="{{ url('home_home') }}">Accueil</a>
                    <a class="p-3 text-white" href="{{ url('profil_user') }}">Mon profil</a>

                    {% if app.user %}
                        {# <span class="p-3 text-white" >Bonjour {{ app.user.LastName }} !</span> #}
                    {% else %}
                        <a class="p-3 text-white" href="{{ path('app_login') }}">Login</a>
                    {% endif %}
                    <a class="p-3 text-white" href="{{ url('app_logout') }}">Deconnexion</a>
                </nav>
                {# <a class="btn btn-outline-primary" href="#">Sign up</a>  #}
            </header>

        {% endblock %}

        {% block body %}

            {# permet l'affichage d'un message lorsque l'utilisateur a réussis son inscription !  #}


        {% endblock %}
    </body>
</html>
