{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}
    <form method="post">
        <div class="mb-3">
            <h1 class="h3 mb-3 font-weight-normal">Mon profil</h1>
            <label for="inputPseudo">Pseudo :</label>
            <input type="text" value="{{ app.user.pseudo }}" name="pseudo" id="inputPseudo" class="form-control">
            <br>
            <label for="inputFirstName">Prenom :</label>
            <input type="text" value="{{ app.user.firstname}}" name="firstname" id="inputFirstName" class="form-control">
            <br>
            <label for="inputLastName">Nom :</label>
            <input type="text" value="{{ app.user.lastname}}" name="lastname" id="inputLastName" class="form-control">
            <br>
            <label for="inputPhone">Téléphone :</label>
            <input type="text" value="{{ app.user.phone}}" name="phone" id="inputPhone" class="form-control">
            <br>
            <label for="inputEmail">Email :</label>
            <input type="email" value="{{ app.user.email}}" name="email" id="inputEmail" class="form-control">
            <br>
            <label for="inputPassword">Mot de Passe :</label>
            <input type="text" value="{{ app.user.password}}" name="password" id="inputPassword" class="form-control">
            <br>
            <label for="inputPassword">Confirmation :</label>
            <input type="text" value="">
            <br>
            <label for="inputCampus">Campus</label>
            <input type="choice" value="{{ app.user.campus}}" name="campus" id="inputCampus" class="form-control">
            <br>
            <label for="inputPhoto">Campus</label>
            <input type="file" value="{{ app.user.photo}}" name="photo" id="inputPhoto" class="form-control">
            <br>
            <button class="btn btn-lg btn-primary" type="submit">
                Enregistrer
            </button>
        </div>



    </form>

{% endblock body %}