{% extends 'base.html.twig' %}

{% block body %}
<h2>Afficher une sortie</h2>

    {{ event.eventName }} =>
    Début : {{ event.dateAndHour | date("d/m/y") }},
    Limite d'inscription : {{ event.registrationLimit | date("d/m/Y") }},
    Statut : {{ event.status }},
    Nb de place : {{ event.numberOfPlaces }}
    Organisateur : <a href="{{ url('view_profil', {'id' : event.organizer.getId}) }}">{{ event.organizer }}</a><br>

    {# TEST FILTRE CAMPUS #}

    CAMPUS:{{ event.campus }}


    Participants : <br>
    {% for part in event.participants %}
        Nom : <a href="{{ url('view_profil', {'id' : part.getId}) }}">{{ part.firstName }}</a><br>
        Prénom : <a href="{{ url('view_profil', {'id' : part.getId}) }}">{{ part.lastName }}</a><br>
    {% endfor %}


{% endblock %}