{% extends 'base.html.twig' %}

{% block body %}
<h2>Afficher une sortie</h2>

    {{ event.eventName }} =>
    Début : {{ event.dateAndHour | date("d/m/y") }},
    Limite d'inscription : {{ event.registrationLimit | date("d/m/Y") }},
    Statut : {{ event.status }},
    Nb de place : {{ event.numberOfPlaces }}
    Organisateur : {{ event.organizer }}<br>
    Participants :  <br>
    (id de l'event : {{ event.id }})


{% endblock %}